# Pasta da sessão - O "personagem" que gera o login
session/

# Arquivo de configuração - Contém seu número
config.json

# Pasta de dependências - A "pasta módulos"
node_modules/

# Arquivos de log gerados
logs.txt
npm-debug.log*
